$lightgrey: #3F3F44;
$grey:      rgb(39, 39, 39);
$green:     rgb(0, 110, 0);
$violet:    #8e44ad;
$blue:      #3498db;
$red:       rgb(255, 70, 0);
$yellow:    #f1c40f;
$white:     #fff;
$black:     #000;
$orange:    rgb(255, 150, 0);