li {
  box-sizing: border-box;
  margin: 0.42em 0;
  overflow: hidden;
  display: block;
  position: relative;
  right: 20px;
  padding: 0 13.5px;
  background-color: rgb(48, 48, 49);
  box-shadow: rgba(10, 10, 10, 0.4) 0px 1px 5px;
  text-align: center;
  color: white;
  opacity: 0;
  font-size: 20.6px;
  cursor: pointer;

  &:hover {
    transform: scale(1.01);
  }

  .liTitleDiv:hover:before {
    content: 'click to join: ';
  }
}

.liContentGreen {
  background-color: $green;
  box-shadow: rgba(10, 10, 10, 0.4) 0px 1px 5px;

  &:active {
    background-color: rgb(0, 100, 50);
  }
}

.liContentOrange {
  background-color: $orange;
  box-shadow: rgba(10, 10, 10, 0.4) 0px 1px 5px;

  &:active {
    background-color: rgb(255, 170, 0);
  }
}

.liContentRed {
  background-color: $red;
  box-shadow: rgba(10, 10, 10, 0.4) 0px 1px 5px;

  &:active {
    background-color: rgb(180, 0, 0);
  }
}

.liContentHidden {
  display: none;
}

.smallLi {
  font-size: 20px;
  padding: 17px;
}

.sort {
  $box-shadow: rgba(10, 10, 10, 0.4) 0px 1px 5px;

  position: absolute;
  top: -20px;
  z-index: 2;
  margin-bottom: 10px;

  span {
    display: inline-block;
    position: relative;
    bottom: 1.5px;
  }

  .sort-label {
    font-size: 17px;
    border-radius: 6px;
    padding: 5px 10px;
    background-color: $lightgrey;
    margin: 0px 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 75px;
    box-shadow: $box-shadow;

    svg {
      align-self: flex-start;
      margin-right: 5px;
      width: 0.87em;
      height: 0.87em;
      position: relative;
      bottom: 0.5px;
    }

    span {
      align-self: flex-end;
    }
  }

  &:hover .sort-content {
    opacity: 1;
    cursor: pointer;
  }

  .sort-content {
    transition: opacity linear 120ms;
    opacity: 0;
    position: relative;
    margin-top: 10px;
    font-size: 17px;
    border-radius: 6px;
    text-align: center;
    width: 135px;
    padding: 5px 0;
    background-color: $lightgrey;
    box-shadow: $box-shadow;

    div {
      padding: 5px 0;

      &:hover {
        background-color: $grey;
      }
    }

    &:after {
      content: '';
      position: absolute;
      bottom: 100%;
      left: 50%;
      margin-left: -8px;
      border-width: 8px;
      border-style: solid;
      border-color: transparent transparent  $lightgrey transparent;
    }
  }
}


/* LI INTERNAL
*/

.flexParent {
  display: flex;
  align-items: center;

  .liTitleDiv {
    flex: 1;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .statsDiv {
    white-space: nowrap;
    display: inline-block;

    .playerDiv {
      width: 66px;
      float: left;
      padding-left: 7px;
    }

    .pingDiv {
      width: 72px;
      float: right;
      padding-left: 10.5px;
      text-align: left;
    }
  }
}
